<ion-header>
    <ion-navbar>
   <!--   <ion-buttons>
        <button ion-button icon-only (click)="navHome()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      -->
        <ion-title class="title">IMM</ion-title>
          <img align="right" src="assets/img/search.png" class="search" (click)="gotoSearch()">
    </ion-navbar>
</ion-header>


<ion-content>

    <img src="{{img}}" class="card-img">
      <div class="card-title">
         <p class="card-floor"> {{loc}} </p>
         <p class = "card-name" *ngFor="let lines of name"> {{lines.line}} </p>
      </div> 

<!--about-->
<div class="content">
    <p [innerHTML]="desc" class="details">
    	{{desc}}
    </p>
</div>

<ion-list class="section-list">
        <button color:primary ion-item (click)="gotoSection(categories.id)" *ngFor="let section_list of section">
            <p class = "section-text"> {{section_list.section_num}}) {{section_list.section_name}} </p>
        </button>
</ion-list>
</ion-content>

