page-category {
  ion-label {
    white-space: normal;
  }
  .heading {
    font-size: 15px;
    font-weight: 700;
    color: $grey;
  }
  .item-md ion-thumbnail img {
    height: 5em;
    width: 5em;
  }

    .title{
    font-family: "notoR";
  }
  .search{
    width: 6%;
  }

    .card-title {
    font-family: "notoR";
    position: absolute;
    top: 19.4%;
    width: 100%;
    font-weight: bold;
    color:white;
    left: 21.5px;
  }

  .card-floor{
    font-size: 13pt;
    margin-top:0;
    margin-bottom:3px;
    padding: 0;

  }

  .card-name{
    font-size: 20pt;
    padding: 0;
    margin:0;
    line-height: 1.1;
  }

  .card-img {
    height: 227px;
    width: 100%;
    position: relative;
    z-index: -111;
    padding:0px;
    margin:0px;
  }


    .details {
    font-family: "notoR";
    font-size:9.5pt;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.3;    //줄간격
    text-align: justify;  //양쪽 정렬
  }
  
  .section-list{

  }

  .section-text{
      font-family: "notoR";
      color: #1C49AD;
      line-height:2;
      font-size:15pt;
  }

}
