page-facility-library {
  .title{
    font-family: "notoR";
  }
  .search{
    width: 6%;
  }

  //<p>태그 색 지정 지워준다. -> 검정색으로

  .card-img {
    height: 225px;
    width: 100%;
    position: absolute;
    z-index: -111;
    padding:0px;
    margin:0px;
  }
  .card-title {
    font-family: "notoB";
    position: relative;
    top: 28%;
    font-size: 20.5pt;
    width: 100%;
    color:white;
    left: 21.5px;
  }
  .heading {
    color: #6d6d6d;
    padding-left: 10px;
  }

.content{
  padding:0x;
  margin:0x;
}


  .lib-list{
      position:relative;
      top:185px;
      left:15px;
      font-family: "notoR";
      color: #1C49AD;
  }
 

}
