<ion-header>
    <ion-navbar>
   <!--   <ion-buttons>
        <button ion-button icon-only (click)="navHome()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      -->
        <ion-title class="title">IMM</ion-title>
          <img align="right" src="assets/img/search.png" class="search" (click)="gotoSearch()">
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item (click)="newsDetail(news.id)" *ngFor="let categories of exhibit_list">
            <ion-thumbnail item-left>
                <img class="thumbnail-img" src="{{categories.exhibit_img}}">
            </ion-thumbnail>
            <div class ="list-content">
            <h2>{{categories.exhibit_loc}} </h2>
            <p class="exhibition-name" *ngFor="let name of categories.exhibit_name">{{name.line}} <br> </p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
